# Environnements virtuels
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Données (évite de committer des exports de données volumineux)
*.pq
*.parquet
*.csv

# Streamlit
.streamlit/secrets.toml

# OS / IDE
.DS_Store
.idea/
.vscode/
